.details {
  background-color: var(--secondary-background-color);
  padding: 10rem 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.detailsImage {
  width: 50%;
  height: auto;
  border: none;
  border-radius: 0.8rem;
}
.detailsTitle {
  font-family: var(--font-header);
  font-weight: 400;
  font-size: 3.5rem;
  color: white;
  text-align: left;
}
.detailsDescription {
  font-family: var(--font-regular);
  font-weight: 400;
  font-size: 1.25rem;
  color: white;
  margin-top: 3rem;
}
.detailsCTA {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 3rem;
}
.aboutButton,
.videoButton {
  border-radius: 0.5rem;
  border: none;
  color: white;
  padding: 0.8rem 1.25rem;
  text-decoration: none;
  font-family: var(--font-semibold);
  font-weight: 600;
  font-size: 1rem;
}
.aboutButton {
  outline: 2px solid white;
  background-color: transparent;
}
.aboutButton:hover {
  background-color: white;
  color: black;
}
.videoButton {
  outline: 2px solid var(--primary-background-color);
  background-color: var(--primary-background-color);
}
.videoButton:hover {
  opacity: 0.7;
}

@media screen and (max-width: 880px) {
  .details {
    flex-direction: column-reverse;
  }
  .detailsData {
    align-items: center;
  }
  .detailsTitle,
  .detailsDescription {
    text-align: center;
  }
  .detailsCTA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .detailsImage {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .details {
    padding: 4rem 2rem;
  }
  .detailsTitle {
    font-size: 2rem;
  }
}
