.main {
  margin: 0;
  padding: 0;
}
.about {
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  padding: 12rem 0;
}
.title {
  font-family: var(--font-header);
  font-weight: 400;
  font-size: 5rem;
  color: white;
  text-align: center;
  width: 50%;
}

.description {
  font-family: var(--font-medium);
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  color: white;
  margin-top: 2rem;
  width: 50%;
}

.advantages {
  background-color: var(--primary-background-color);
  padding: 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}
.advantagesTop {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 3rem;
}
.advantagesImage {
  width: 50%;
  height: auto;
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 85.6px 0px rgba(193, 170, 255, 0.20);
}
.advantagesTitle {
  font-family: var(--font-header);
  font-weight: 400;
  font-size: 3.5rem;
  color: white;
  text-align: left;
}
.advantagesDescription {
  font-family: var(--font-regular);
  font-weight: 400;
  font-size: 1.25rem;
  color: white;
  margin-top: 3rem;
}

.button {
  margin-top: 4rem;
}

.learnButton {
  border-radius: 0.5rem;
  border: none;
  background-color: white;
  color: var(--primary-background-color);
  padding: 0.8rem 1.25rem;
  text-decoration: none;
  font-family: var(--font-semibold);
  font-weight: 600;
  font-size: 1rem;
}

.advantagesBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.advContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  height: 28rem;
}
.advImage {
  border-radius: 1rem;
  border: none;
  width: 100%;
}

.advTitle {
  font-family: var(--font-header);
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  text-align: center;
}

.advDescription {
  font-family: var(--font-regular);
  font-size: 1rem;
  font-weight: 400;
  color: black;
  text-align: center;
}

.advButton {
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-background-color);
  color: white;
  padding: 0.8rem 2.25rem;
  text-decoration: none;
  font-family: var(--font-semibold);
  font-weight: 600;
  font-size: 1rem;
}
.advButton:hover {
  background-color: #ffffff;
  color: black;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.mission {
  background-color: var(--secondary-background-color);
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.missionTitle {
  font-family: var(--font-header);
  font-weight: 400;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.missionDescription {
  font-family: var(--font-regular);
  font-weight: 400;
  color: white;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 3rem;
  width: 60%;
}


@media screen and (max-width: 880px) {
  .advantagesTop {
    flex-direction: column;
  }
  .advantagesData {
    align-items: center;
  }
  .advantagesTitle,
  .advantagesDescription {
    text-align: center;
  }
  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .advantagesImage {
    width: 100%;
  }
  .advantagesBox {
    grid-template-columns: repeat(1, 3fr);
  }
}

@media screen and (max-width: 550px) {
  .advantages {
    padding: 4rem 2rem;
  }
  .advantagesTitle {
    font-size: 2rem;
  }
  .missionTitle {
    font-size: 2rem;
  }
  .missionDescription {
    width: 90%;
  }
  .title {
    font-size: 3rem;
    width: 80%
  }
  .description{
    width: 90%;
  }
}
