.title {
  font-family: var(--font-bold);
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  margin-top: 1rem;
  text-align: center;
}

.description {
  font-family: var(--font-medium);
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  margin-top: 0.5rem;
  text-align: center;
}

.vectors {
  height: 2rem;
  width: auto;
}

.disabled {
  display: none;
}

.learnMore {
  border-radius: 0.5rem;
  border: none;
  background-color: #090909;
  color: white;
  padding: 0.8rem 0;
  display: block;
  width: 100%;
  text-align: center;
  align-content: center;
  text-decoration: none;
  font-family: var(--font-semibold);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 2.5rem;
}
