.portal {
  background-color: var(--primary-background-color);
  padding: 4rem;
}
.container {
  background-color: var(--container-color);
  border-radius: 2rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
}

.containerTitle {
  font-family: var(--font-header);
  font-weight: 400;
  font-size: 3rem;
  color: #000000;
  text-align: center;
}

.containerDescription {
  font-family: var(--font-regular);
  font-weight: 400;
  font-size: 1.25rem;
  color: #000;
  margin-top: 1rem;
  text-align: center;
  width: 70%;
}

.button {
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-background-color);
  color: white;
  padding: 0.8rem 2.25rem;
  text-decoration: none;
  font-family: var(--font-semibold);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1.25rem;
}

@media screen and (max-width: 550px) {
  .portal {
    padding: 4rem 2rem;
  }
  .containerTitle {
    font-size: 2rem;
  }
  .containerDescription {
    font-size: 1rem;
  }
}
