.contact {
  background-color: var(--primary-background-color);
  padding: 4rem;
}
.container {
  background-color: var(--container-color);
  padding: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2rem;
  gap: 2rem;
}

.head {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.title {
  font-family: var(--font-header);
  font-weight: 400;
  font-size: 3rem;
  color: var(--tertiary-background-color);
  margin-bottom: 1rem;
}
.para {
  font-family: var(--font-regular);
  font-weight: 400;
  font-size: 1.25rem;
  color: #090909;
}

.button {
  border: none;
  border-radius: 0.5rem;
  background-color: #000000;
  color: white;
  padding: 0.8rem 1.25rem;
  text-decoration: none;
  font-family: var(--font-semibold);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 2rem;
  margin-right: auto;
}

.verticalLine {
  padding: 10rem 0.1px;
  background-color: #3d3d3d;
}

.sub {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.subTitle {
  font-family: var(--font-header);
  font-size: 1.5rem;
  font-weight: 400;
  color: #5ab683;
  margin-bottom: 1rem;
}

.horizontalLine {
  padding: 0.1px 10rem;
  background-color: #3d3d3d;
  margin: 1.5rem 0;
}

@media screen and (max-width: 880px) {
  .container {
    padding: 2rem;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
  }
  .verticalLine,
  .horizontalLine {
    padding: 0.1px;
    background-color: #3d3d3d;
    width: 100% !important;
  }
  .head,
  .sub {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .title {
    font-size: 2rem;
  }
  .contact {
    padding: 4rem 2rem;
  }
}
